@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.fondo-header {
  background-color: #381460;
  font-family: "montserrat", sans-serif;
}
.fondo-header .nombre-logo {
  font-size: 25px;
  display: inline;
}

.texto-bienvenida h5 {
  font-family: "Montserrat", sans-serif;
}
.texto-bienvenida p {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 480px) {
  .tu-block {
    padding-top: 60px;
  }
}
.que-soy {
  background-color: #B21F66;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.que-soy .hola {
  font-family: "montserrat", sans-serif;
  font-size: 3rem;
  color: cornsilk;
}
.que-soy span {
  font-size: 4rem;
  color: #31adad;
}
.que-soy .frase {
  font-family: "montserrat", sans-serif;
  font-size: 3rem;
  color: cornsilk;
}
.que-soy .texto-quiensoy {
  font-family: "lato 300", sans-serif;
  color: cornsilk;
  font-size: 1.5rem;
  padding-top: 50px;
}
.que-soy .unblock {
  font-size: 2rem;
}
@media (min-width: 992px) {
  .que-soy .hola {
    font-size: 6rem;
  }
  .que-soy span {
    font-size: 7rem;
  }
  .que-soy .frase {
    font-size: 6rem;
  }
  .que-soy .texto-quiensoy {
    font-size: 1.7rem;
  }
}

.encontrar {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #8e44ad;
}
.encontrar .texto-encontrar {
  color: cornsilk;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  margin-top: 10px;
}
.encontrar span {
  color: #13e66b;
}
.encontrar .card-uno {
  transition: 1s linear;
}
.encontrar .card-uno:hover {
  background-color: rgba(129, 243, 129, 0.933);
  box-shadow: 0px 10px 10px 7px #27b5e9;
}
.encontrar .card-dos {
  transition: 1s linear;
}
.encontrar .card-dos:hover {
  background-color: #79cfee;
  box-shadow: 0px 10px 10px 7px #27b5e9;
}
.encontrar .card-tres {
  transition: 1s linear;
}
.encontrar .card-tres:hover {
  background-color: #f28484;
  box-shadow: 0px 10px 10px 7px #27b5e9;
}
.encontrar .card-cuatro {
  transition: 1s linear;
}
.encontrar .card-cuatro:hover {
  background-color: #e5e772;
  box-shadow: 0px 10px 10px 7px #27b5e9;
}
.encontrar .card-cinco {
  transition: 1s linear;
}
.encontrar .card-cinco:hover {
  background-color: rgba(129, 243, 129, 0.933);
  box-shadow: 0px 10px 10px 7px #27b5e9;
}
.encontrar .card-seis {
  transition: 1s linear;
}
.encontrar .card-seis:hover {
  background-color: #f28484;
  box-shadow: 0px 10px 10px 7px #27b5e9;
}
@media (max-width: 480px) {
  .encontrar .texto-encontrar {
    font-size: 3rem;
  }
}

.experiencias {
  background-color: #de4c8a;
  padding-top: 110px;
  padding-bottom: 110px;
}
.experiencias h2 {
  color: cornsilk;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.contacto {
  background-color: #381460;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.contacto p {
  color: #d49ed4;
  font-family: "montserrat", sans-serif;
}

.mapa {
  background-color: #d49ed4;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "montserrat", sans-serif;
}

.pie-pagina {
  background-color: #de4c8a;
  width: 100%;
}
.pie-pagina h3 {
  color: cornsilk;
  font-family: "montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.pie-pagina .lista-footer {
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
.pie-pagina .frase-final {
  justify-content: center;
}
.pie-pagina .frase-final h5 {
  font-size: 25px;
  font-family: "montserrat", sans-serif;
  color: cornsilk;
}

/*# sourceMappingURL=style.css.map */
