@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.fondo-header {
  background-color: #381460;
  font-family: "montserrat", sans-serif;
}
.fondo-header .nombre-logo {
  font-size: 1rem;
  display: inline;
}

.texto-bienvenida h5 {
  font-family: "Montserrat", sans-serif;
}
.texto-bienvenida p {
  font-family: "Montserrat", sans-serif;
}

.que-soy {
  background-color: #B21F66;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.que-soy .hola {
  font-family: "montserrat", sans-serif;
  font-size: 3rem;
  color: cornsilk;
}
.que-soy span {
  font-size: 4rem;
  color: #31adad;
}
.que-soy .frase {
  font-family: "montserrat", sans-serif;
  font-size: 3rem;
  color: cornsilk;
}
.que-soy .texto-quiensoy {
  font-family: "lato 300", sans-serif;
  color: cornsilk;
  font-size: 1.5rem;
  padding-top: 50px;
}

.encontrar {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #d49ed4;
}
.encontrar .texto-encontrar {
  background-color: #bd6bbd;
  color: cornsilk;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-top: 30px;
}

.experiencias {
  background-color: #de4c8a;
}
.experiencias h2 {
  color: cornsilk;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.contacto {
  background-color: #381460;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.contacto p {
  color: #d49ed4;
  font-family: "montserrat", sans-serif;
}
.contacto .correo {
  color: #de4c8a;
  font-family: "lato 300", sans-serif;
}
.contacto .boton-enviar {
  padding-top: 30px;
}

.mapa {
  background-color: #d49ed4;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "montserrat", sans-serif;
}

.pie-pagina {
  background-color: #de4c8a;
  width: 100%;
}
.pie-pagina h3 {
  background-color: cornflowerblue;
  font-family: "montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.pie-pagina .lista-footer {
  list-style: none;
  background-color: blue;
  margin-bottom: 30 px;
  display: flex;
  justify-content: space-evenly;
}
.pie-pagina .frase-final {
  background-color: darkcyan;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
