@import "../SCSS/Estilos/colores" ;
@import "../SCSS/Estilos/fuentes" ;

@mixin padding-contacto ($top, $bottom, $left, $right) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
    
}

.contacto {
    background-color: $header;
    width: 100%;
    @include padding-contacto(60px,100px,50px,50px );
    

    p {
        color: $encontrar ;
        font-family: $titulos ;
    }

}
