@import "../SCSS/Estilos/colores" ;



.experiencias {
    background-color: $experiencias;
    h2 {
        color: cornsilk;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

    }

}