@import "../SCSS/Estilos/colores" ;



.experiencias {
    background-color: $experiencias;
    padding-top: 110px;
    padding-bottom: 110px;

    h2 {
        color: cornsilk;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
       

    }

}