@import "../SCSS/Estilos/colores" ;
@import"../SCSS/Estilos/fuentes";


.que-soy {
    background-color: $quesoy;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    .hola {
        font-family: $titulos;
        font-size: 3rem;
        color: $texto;

    }
    span {
        font-size: 4rem;
        color: rgb(49, 173, 173);
    }
    .frase {
        font-family: $titulos;
        font-size: 3rem;
        color: $texto;
    }
    .texto-quiensoy {
        font-family: $textos;
        color: $texto;
        font-size: 1.5rem;
        padding-top: 50px;
    }

   

}