
.texto-bienvenida {
    h5 {
        font-family: "Montserrat", sans-serif;
        
    }
    p {
        font-family: "Montserrat", sans-serif;
 
    }
    


}

@media (max-width: 480px) {
    .tu-block {
        padding-top: 60px;
        
    }

}