@import"../Estilos/fuentes";
@import"../Estilos/colores";

.pie-pagina {
    background-color: $experiencias;
    width: 100%;
    h3 {
        color: cornsilk;
        font-family: $titulos;
        font-size: 40px;
        font-weight: bold;
    }


    .lista-footer {
        list-style: none;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-evenly;
    }
    .frase-final {
        justify-content: center;

        h5 {
            font-size: 25px;
            font-family: $titulos;
            color: cornsilk;
        }
    }

}
