@import "../Estilos/colores" ;
@import "../Estilos/fuentes" ;

.fondo-header {
    background-color: $header;
    font-family: $titulos;
    .nombre-logo {
        font-size: 1rem;
        display: inline;
    }

}